<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.metrixware.emulator.category"
            class="com.metrixware.eclipse.wizard.NewConnectionWizard"
            icon="images/tn5250j-16x16.png"
            id="com.metrixware.tn5250.newConnectionWizard"
            name="%wizard.name"
            project="false">
      </wizard>
      <category
            id="com.metrixware.emulator.category"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="tn5250.content-type"
            file-extensions="5250">
      </file-association>
      <content-type
            default-charset="ISO-8859-1"
            file-extensions="5250"
            id="tn5250.content-type"
            name="%contenttype.name"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.metrixware.eclipse.editor.Tn5250Screen"
            default="true"
            extensions="5250"
            icon="images/tn5250j-16x16.png"
            id="tn5250j.editor"
            name="%view.name">
         <contentTypeBinding
               contentTypeId="tn5250.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.metrixware.eclipse.preferences.GlobalPreferences"
            id="tn5250.preferences"
            name="%category.preferences.name">
      </page>
   </extension>
</plugin>
