<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j. Set to debug or trace 
	if log4j initialization is failing. -->
<Configuration status="DEBUG" xmlns:xi="http://www.w3.org/2001/XInclude" packages="com.metrixware.log4j">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
    </Properties>
 
    <Appenders>
		<BundleAppender name="eclipse">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</BundleAppender>
    </Appenders>
 
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="eclipse"/>
        </Root>
    </Loggers>
</Configuration>
